/* Font Family */
body, header, nav ul li a {
  font-family: 'Roboto', sans-serif;
}

/* Color Scheme */
body {
  background-color: #fafafa; /* Light gray background */
  color: #333;
}
h2 {
  text-align: center;
}

header, nav ul {
  background-color: #1e88e5; /* Dark blue */
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: inherit; /* Inherit color from parent (header) */
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ff5722; /* Orange on hover */
}

main {
  width: 80%;
  margin: 0 auto;
  display: grid; /* Use CSS Grid for layout */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid with minimum width of 300px */
  gap: 20px; /* Gap between grid items */
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

/* Footer */
footer {
  background-color: #1e88e5; /* Inherit background color from header */
  color: #1e88e5; /* Inherit color from header */
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-row {
  margin: 10px 0;
}

.footer-row p {
  margin: 0;
}

.footer-row img {
  width: 20px; /* Adjust the width as needed */
  margin-left: 5px; /* Adjust the spacing between text and flag */
}

/* Adjust image width */
header {
  background-color: #1e88e5;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex; /* Set header to flex container */
  justify-content: center; /* Center items horizontally */
}

.header-content {
  display: grid;
  grid-template-columns: auto 1fr; /* Auto for the image width, 1fr for the remaining space */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}
header img {
  width: 20%;
  margin-right: 10px; /* Add some spacing between the image and the name */
}

.profile-image {
  width: 100px;
  margin-right: 20px;
}
