/* Font Family */
body {
  font-family: 'Roboto', sans-serif;
}

/* Color Scheme */
body {
  background-color: #fafafa; /* Light gray background */
  color: #333;
}

header {
  background-color: #1e88e5; /* Dark blue */
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center; /* Center align the navigation links */
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #1e88e5; /* Dark blue */
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ff5722; /* Orange on hover */
}

main {
  width: 80%;
  margin: 0 auto;
  display: grid; /* Use CSS Grid for layout */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid with minimum width of 300px */
  gap: 20px; /* Gap between grid items */
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

/* Footer */
footer {
  background-color: #1e88e5; /* Dark blue */
  color: #fff;
  padding: 20px; /* Reduce padding for footer */
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  flex: 1;
}

.footer-right {
  flex: 1;
  text-align: right;
}

.footer-right img {
  width: 100px; /* Adjust the width as needed */
}

/* Adjust image width */
header img {
  width: 20%;
}
